/* Navabar */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}

/* Flash messages */
.flashes h4 {
    line-height: 2;
}

/* Accordion */
.collapsible-footer {
    font-size: 90%;
    color: #767676;
}

/* Add New Dataset */
.todo-form {
    margin-left: 10px;
}