{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-2 center-align">Add Location</h3>

    <!-- Form: Add Location -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_location') }}">

            <!-- Input : location name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix teal-text text-darken-2"></i>
                    <input id="location_name" name="location_name" minlength="3" maxlength="15"
                           type="text" class="validate" required>
                    <label for="location_name">Location Name</label>
                </div>
            </div>

            <br>

            <!-- Submit Button -->
            <div class="row">
                <div class="col s-12">
                    <button type="submit" class="btn-large teal darken-1 text-shadow">
                        Add Location <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}