{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-darken-2 center-align">Add Data Tag</h3>

    <!-- Form: Add Category -->
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_category') }}">

            <!-- Input : category name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-tag prefix teal-text text-darken-2"></i>
                    <input id="category_name" name="category_name" minlength="3" maxlength="15"
                           type="text" class="validate" required>
                    <label for="category_name">Tag Name</label>
                </div>
            </div>

            <br>

            <!-- Submit Button -->
            <div class="row">
                <div class="col s-12">
                    <button type="submit" class="btn-large teal darken-1 text-shadow">
                        Add Tag <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}