{% extends "base.html" %}
{% block content %}

<h3 class="cyan-text text-darken-2 center-align">Analyse your Dataset</h3>

<!-- Card turned into form -->
<div class="row">
    <!-- Center column with offset -->
    <!-- Add method and action for dynamic form -->
    <form class="col s12 m8 offset-m2" 
          method="POST" 
          action="">

        <div class="card-panel">

            <!-- Dataset input -->
            <div class="row">
                <div class="input-field col s12">
                    
                    <i class="fas fa-book-reader prefix cyan-text text-darken-2"></i>
                    <input id="file_name" name="file_name" 
                               minlength="10" maxlength="250"
                               type="text" class="validate" required>
                    <label for="analyse_data">Enter the command or url from Kaggle</label>

                </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
                <button type="submit" 
                        class="col s12 btn-large cyan darken-1 text-shadow">
                        Create Dataset Analysis <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>

        </div>
    </form>
</div>

{% endblock %}