<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font-Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
          crossorigin="anonymous" />
    <!-- Materialize : compiled and minified CSS -->
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          type="text/css">
    <!-- Base Custom CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}" 
          type="text/css">

    {% block styles %}
    {% endblock %}

    <title>DataSets Bucket</title>
</head>
<body>

    <header>
        <!-- Top navbar -->
        <nav class="nav-extended text-shadow cyan lighten-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_datasets') }}" class="brand-logo center">DataSetBucket</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">New Entry</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </nav>
        
        <!-- Mobile navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('get_datasets') }}"><h4 class="center-align cyan-text text-lighten-1">DataSetBucket</h4></a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">New Entry</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="cyan lighten-4 center-align">
                            {{ message }}
                        </h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    
    <!-- JQuery : to have Materiliaze JS working properly (loaded first) -->
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <!-- Materialize : compiled and minified JavaScript -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>
    <!-- Base Custom Js -->
    <script 
        src="{{ url_for('static', filename='js/script.js') }}">
    </script>

    {% block scripts %}
    {% endblock %}
</body>
</html>