{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-2 center-align">All Data Tags</h3>

{% if session.user %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" 
               class="btn teal darken-1 text-shadow">
               Add New DataTag <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
{% endif %}

<div class="row">
    {% for category in categories %}
        <div class="row">
            <div class="col s12 m3">
            <div class="card teal darken-1 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <div class="card-action">
                    <!-- View all datasets in this category -->
                    <a href="{{ url_for('datasets_in', category=category.category_name) }}" 
                       alt="See all datasets from this category" 
                       class="waves-effect waves-light btn-small lime darken-3">
                       View
                    </a>
                    <!-- Edit this category -->
                    <!-- Only author and admin are able to edit -->
                    {% if session.user|lower == category.created_by|lower or session.user == "admin"|lower %}
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" 
                           class="waves-effect waves-light btn-small cyan darken-2">
                           Edit
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
            
{% endblock %}