{% extends "base.html" %}
{% block content %}

    <h3 class="cyan-text text-darken-2 center-align">Edit Dataset</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" 
              action="{{ url_for('edit_dataset', dataset_id=dataset._id) }}">

            <!-- Selected category -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix cyan-text text-darken-2"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                        {% if category.category_name == dataset.category_name %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}" >{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Dataset Category</label>
                </div>
            </div>

            <!-- Selected dataset name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix cyan-text text-darken-2"></i>
                    <input id="dataset_name" name="dataset_name" minlength="4" maxlength="40"
                           value="{{ dataset.dataset_name }}" type="text" class="validate" required>
                    <label for="dataset_name">Dataset Name</label>
                </div>
            </div>

            <!-- Selected dataset description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix cyan-text text-darken-2"></i>
                    <textarea id="dataset_description" name="dataset_description" 
                              class="materialize-textarea validate"
                              minlength="5" maxlength="500">
                              {{- dataset.dataset_description -}}
                            </textarea>
                    <label for="dataset_description">Dataset Description</label>
                </div>
            </div>

            <!-- Selected Datepicker ("last updated") -->
            <div class="row">
              <div class="input-field col s12">
                  <i class="fas fa-calendar-check prefix cyan-text text-darken-2"></i>
                  <input id="last_update" name="last_update" value="{{ dataset.last_update }}"
                         type="text" class="datepicker validate" required>
                  <label for="last_update">Last Updated</label>
              </div>
          </div>

            <!-- Switch ("To Do : On / Off") -->
            <div class="row">
                <div class="input-field col-s12">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix cyan-text text-darken-2 todo-form"></i>
                        <label for="is_todo" class="todo-switch">
                            {% if dataset.is_todo == "On" %}
                                <input type="checkbox" id="is_todo" name="is_todo" checked>
                            {% else %}
                                <strong>To Do:</strong>
                                &nbsp;&nbsp;&nbsp;&nbsp; 
                                Off
                                <input type="checkbox" id="is_todo" name="is_todo">
                            {% endif %}
                            <span class="lever"></span>
                            On
                        </label>
                    </div>
                </div>
            </div>

            <br>

            <!-- Submit Button : Save Edits, Delete or Cancel -->
            <div class="row">
                <div class="col s-12">
                    <!-- Save Button (submit edits) -->
                    <button type="submit" class="btn-large blue darken-1 text-shadow">
                        Save <i class="fas fa-edit right"></i>
                    </button>
                    <!-- Delete Button -->
                    <a href="{{ url_for('delete_dataset', dataset_id=dataset._id) }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle"></i>
                    </a>
                    <!-- Cancel Button -->
                    <a href="{{ url_for('all_datasets') }}" class="btn-large grey text-shadow">
                        Cancel <i class="fas fa-times-circle"></i>
                    </a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}