{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-2 center-align">All Locations</h3>

{% if session.user %}
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_location') }}" 
               class="btn teal darken-1 text-shadow">
               Add New Location <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>
{% endif %}

<div class="row">
    {% for location in locations %}
        <div class="row">
            <div class="col s12 m3">
            <div class="card teal darken-1 text-shadow center-align">
                <div class="card-content white-text">
                    <span class="card-title">{{ location.location_name }}</span>
                </div>
                <div class="card-action">
                    <!-- View all datasets in this location -->
                    <a href="{{ url_for('datasets_at', location=location.location_name) }}" 
                       alt="See all datasets from this location" 
                       class="waves-effect waves-light btn-small green accent-4">
                       View
                    </a>
                    <!-- Edit this location -->
                    <!-- Only author and admin are able to edit -->
                    {% if session.user|lower == location.created_by|lower or session.user == "admin"|lower %}
                        <a href="{{ url_for('edit_location', location_id=location._id) }}" 
                           class="waves-effect waves-light btn-small blue accent-4">
                           Edit
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
            
{% endblock %}